<%- include('../../fragments/header.ejs') %>
        <main>
         <h1>Nowe auto</h1>
         <form class="form" novalidate onsubmit="return validateFormCar();">
           <label for="maker">Marka <span class="symbol-required">*</span></label>
           <input type="text" name="maker" id="maker" placeholder="2-60 znaków" required/>
           <span id="errorMaker" class="error-text"></span>
           
           <label for="model" >Model <span class="symbol-required">*</span></label>
           <input type="text" name="model" id="model" placeholder="2-60 znaków" required/>
           <span id="errorModel" class="error-text"></span>
           
           <label for="car-plates">Numer rejestracyjny <span class="symbol-required">*</span></label> 
           <input type="text" name="plates" id="car-plates" required/>
           <span id="errorCarPlates" class="error-text"></span>
           
            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit"/>
                <a href="/index.html" class="form-button-cancel">Anuluj</a>
                <p id="errorsSummary" class="error-text"></p>
            </div>
           
         </form>
        </main>
        <%- include('../../fragments/footer.ejs') %>
