<%- include('../../fragments/header.ejs') %>

        <main>
            <form class="form">
                <label for="maker">Marka <span class="symbol-required">*</span> </label>
                <input type="text" name="maker" id="maker" value="Audi" readonly="readonly" disabled/><br> 
                
                <label for="model">Model <span class="symbol-required">*</span> </label>
                <input type="text" name="model" id="model" value="RS8" readonly="readonly" disabled/>
            </form>
           <table class="table-list">
            
            <thead>
            <tr>
                <th>Mechanik</th>
                <th>Opis naprawy</th>
                <th>Data naprawy</th>

            </tr>
            </thead>
            <tr>
                <td>Karol Sobotka</td>
                <td>uszczelka pod głowica</td>
                <td>12.12.2022</td>
            </tr>
          
           </table>
        </main>
        
        <%- include('../../fragments/footer.ejs') %>