<%- include('../../fragments/header.ejs') %>

        <main>
           <table class="table-list">
            <thead>
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Numer Rejestracyjny</th>

            </tr>
            </thead>
            <tr>
                <td>Porsche</td>
                <td>911</td>
                <td>WWL XX2200</td>
            </tr>
            <tr>
                <td>Audi</td>
                <td>R8</td>
                <td>WWL YY22AA</td>
            </tr>
            <tr>
                <td>Mercedes-Benz</td>
                <td>C300</td>
                <td>WWL 123AA</td>
            </tr>
            <tr>
                <td>Porsche</td>
                <td>Tycan</td>
                <td>WWL KSA721</td>
            </tr>
           </table>
        </main>
        <%- include('../../fragments/footer.ejs') %>