<%- include('../../fragments/header.ejs') %>

        <main>
         <h1>Edytowanie auta</h1>
         <form class="form">
           <label for="maker">Marka <span class="symbol-required">*</span> </label>
           <input type="text" name="maker" id="maker" value="Audi" required/>
           <span id="errorMaker" class="error-text"></span>
           
           <label for="model">Model <span class="symbol-required">*</span> </label>
           <input type="text" name="model" id="model" value="RS8" required/>
           <span id="errorModel" class="error-text"></span>
           
           <label for="car-plates">Numer rejestracyjny <span class="symbol-required">*</span></label> 
           <input type="text" name="plates" id="car-plates" value="WWL XX2200" required/>
           <span id="errorCarPlates" class="error-text"></span>
           
            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit"/>
            <a href="/index.html" class="form-button-cancel">Anuluj</a>
            <p id="errorsSummary" class="error-text"></p>
            </div>
           
         </form>
         <%- include('../../fragments/footer.ejs') %>