<%- include('./fragments/header.ejs') %>

            <main>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae lacus at eros blandit eleifend.
                Nulla dignissim enim turpis, eget tempus felis vulputate dignissim. Proin purus risus, malesuada eu posuere sodales, 
                auctor tincidunt lorem. Cras nec libero placerat, accumsan odio sed, mollis velit. Integer odio urna, rutrum nec lacinia at,
                hendrerit a lectus. Integer non tincidunt lectus. Nullam imperdiet nisi quam, sed finibus orci consequat a.
            </main>

<%- include('./fragments/footer.ejs') %>