html {
    background-color: #2f2fa2;
    font-family: sans-serif;
    margin: 0

    
}
body {
    min-width: 360px;
    margin: 0
    
}
img {
    width: 15%;
    height: 15%;
}

header, main, footer {
    background-color: #2f2fa2;
}

header, main, footer, nav {
    margin: 1rem;
}

header, footer {
    background-color: #2f2fa2;
    color: white;
    padding: 1rem;
}

header {
    display:flex;
    justify-content: space-between;
    border-radius: 1rem;
}

nav {
    background-color: #553d67;
}

nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    border-radius: 1rem;
}



nav ul li a {
    display: inline-block;
    color: #ecf0f1;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 1rem;

}

nav ul li a:hover{
    background-color: #99738e;
    color: #ecf0f1;
}

nav ul li a.active {
    background-color: #f64c72;
    color: #ecf0f1;

}

main {
    padding: 1.5rem;
    border-radius: 1rem;
    border-style: double;  
    border-color: white;
    color: white;    
}

footer {
    text-align: center;
    border-radius: 1rem;
    border-style: dotted;
}

main h2 {
    border-bottom: 1px solid #7f8c8d;
    margin-bottom: 2rem;
}

.table-list {
    border-collapse: collapse;
    color: white;
    width: 100%;
}

.table-list, .table-list th, .table-list td {
    border: 1px solid #bdc3c7;

}

.table-list th, .table-list td {
    padding: 1.5rem;
}
.table-list th {
    background-color: #553d67;

}

.table-list tbody tr:nth-child(even) {
    background-color: #724f8d;
}
.table-list tbody tr:nth-child(odd) {
    background-color: #99738e;
}

.list-actions {
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.list-actions li {
    display: block;
    margin: 10px;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    width:75px;
    padding: 0.25rem 0.5rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}
h1{
    color: white;
}


.list-actions-button-details,
.list-actions-button-delete,
.list-actions-button-edit {
    margin-right: 1rem;
}

.list-actions-button-details{
    background-color: #553d67;
}
.list-actions-button-details:hover{
    background-color: #e1a2cf;
}
.list-actions-button-edit {
    background-color: #553d67;
}
.list-actions-button-edit:hover {
    background-color: #e1a2cf;
}
.list-actions-button-delete,
.form-button-cancel {
    background-color: #553d67;
}
.list-actions-button-delete:hover,
.form-button-cancel:hover {
    background-color: #e1a2cf;
}

.button-add,
.form-button-submit,
.form-button-cancel {
    padding: 0.5rem 1rem;
}

.button-add,
.form-button-submit {
    background-color: #27ae60;
}

.button-add:hover,
.form-button-submit:hover {
    background-color: #2ecc71;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
    
}

.form {
    display: grid;
    grid-template-columns: 150px 300px 1fr;
    gap: 1rem;
    color:white;
}

.form select,
.form input[type="text"],
.form input[type="date"],
.form input[type="tel"]{
    border: 1px solid #7f8c8d;
    color: #2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

.form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.symbol-required {
    color:#c0392b;
}

 .form-buttons {
    grid-column: 1 / span 2;
    margin-top: 10px;
}

.form input.error-input,
.form select.error-input {
    border: 3px solid #e74c3c;
}




.error-text { 
    display: block;
    font-size: 0.85em;
    line-height: 2.25rem;
    margin-top: 0.5rem;
    color: #e74c3c;
}

@media all and (max-width: 720px){

    header{
        flex-direction: column;   
    }
    header h1{
        text-align: center;
    }
    header img {
        align-self: center;
    }
    nav ul {
        flex-wrap: wrap;
    }

    nav ul li{ 
        flex-basis: 50%;
        text-align: center;

    }
    nav ul li a{
     display: block;   
    }

    .form {
        grid-template-columns: 1fr;
        row-gap: unset;
        margin-left: unset;
    }

    .form-buttons {
        grid-column: 1/1;
    }

}
@media all and (max-width: 400px){
    body, nav, nav ul, header, main, footer{ 
        margin: 0;
    }

    nav ul li {
        flex-basis: 100%;
    }
    
}