<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/resources/code/validateEmpForm.js"></script>

        <main>
         <h1>Nowy Pracownik</h1>
         <form class="form" novalidate onsubmit="return validateFormEmployee();">
           <label for="firstName">Imię <span class="symbol-required">*</span></label> 
           <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" required/>
           <span id="errorFirstName" class="error-text"></span>

           <label for="lastName" > Nazwisko <span class="symbol-required">*</span></label>
            <input type="text" name="lastName" id="lastName"  placeholder="2-60 znaków"required/>
            <span id="errorLastName" class="error-text"></span>

           <label for="phoneNumber">Numer telefonu: +48<span class="symbol-not-required"></span></label> 
           <input type="tel" name="phoneNumber" id="phoneNumber" maxlength="9" placeholder="123 456 789" />
           <span id="errorPhoneNumber" class="error-text"></span>

           <label for="address">Adres: <span class="symbol-required">*</span></label>
           <input type="text" name="address" id="address" placeholder="ul. Jana Pawła II, Radzymin 05-250" required/>
           <span id="errorAddress" class="error-text"></span>

           <div class="form-buttons">
            <input type="submit" value="Dodaj" class="form-button-submit"/>
            <a href="/index.html" class="form-button-cancel">Anuluj</a>
            <p id="errorsSummary" class="error-text"></p>
        </div>
         </form>

        </main>
        <%- include('../../fragments/footer.ejs') %>