<%- include('../../fragments/header.ejs') %>

<script type="application/javascript" src="/resources/code/validateEmpForm.js"></script>
        <main>
         <h1>Edytowanie Pracownika</h1>
         <form class="form"  novalidate onsubmit="return validateFormEmployee();">
           <label for="firstName"> Imię: <span class="symbol-required">*</span></label> 
           <input type="text" name="firstName" id="firstName" value="Karol" required/>
           <span id="errorFirstName" class="error-text"></span>

           <label for="lastName"> Nazwisko: <span class="symbol-required">*</span> </label> 
           <input type="text" name="lastName" id="lastName" value="Sobotka" required/>
           <span id="errorLastName" class="error-text"></span>

           <label for="phoneNumber">Numer telefonu: +48</label> 
           <input type="tel" name="phoneNumber" id="phoneNumber" maxlength="9" value="797169904"/>
           <span id="errorPhoneNumber" class="error-text"></span>

           <label for="address"> Adres: <span class="symbol-required">*</span></label> 
           <input type="text" name="address" id="address" value="05-250 Radzymin, ul. Maczka 30" required/>
           <span id="errorAddress" class="error-text"></span>


           <div class="form-buttons">
            <input type="submit" value="Dodaj" class="form-button-submit"/>
            <a href="/index.html" class="form-button-cancel">Anuluj</a>
            <p id="errorsSummary" class="error-text"></p>
        </div>
         </form>

        </main>
        <%- include('../../fragments/footer.ejs') %>