<%- include('../../fragments/header.ejs') %>

        <main>
           <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Numer Telefonu</th>
                    <th>Adres</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tr>
                <td>Karol</td>
                <td>Sobotka</td>
                <td>797169904</td>
                <td>Maczka 30, 05-250 Radzymin</td>
                <td class="list-actions"><ul>
                    <li><a href="" class="list-actions-button-details">Dodaj Naprawę</a></li>
                    <li><a href="" class="list-actions-button-delete">Usuń Pracownika</a></li>
                    <li><a href="" class="list-actions-button-edit">Edytuj Pracownika</a></li>
                </ul></td>
            </tr>
           </table>
           <p><a href="/pages/employee/add-employee.html" class="button-add">Dodaj nowego pracownika</a></p>
        </main>
        <%- include('../../fragments/footer.ejs') %>