<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/resources/code/validateFormRepairment.js"></script>

        <main>
         <h1>Edytowanie naprawy</h1>
         
         <form class="form"  novalidate onsubmit="return validateFormRepairment();">
            <label for="carName"> Auto <span class="symbol-required">*</span></label> 
            <input type="text" name="carName" id="carName" value="Audi RS8, WWL XX2200" required/>
            <span id="errorCarName" class="error-text"></span>

            <label for="mechanic"> Mechanik <span class="symbol-required">*</span></label>
            <input type="text" name="mechanic" id="mechanic" value="Sobotka" required/>
            <span id="errorMechanic" class="error-text"></span>


            <label for="description">Opis </label>
            <input type="text" name="description" id="description" value="Uszczelka pod głowicą, wymiana opon" />
            <span id="errorDescription" class="error-text"></span>

            <label for="repairDate">Data naprawy<span class="symbol-required">*</span></label> <input type="date" name="repairDate" id="repairDate" value="2022-06-20" required/>
            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit"/>
                <a href="/index.html" class="form-button-cancel">Anuluj</a>
                <p id="errorsSummary" class="error-text"></p>
            </div>
         </form>
        </main>
        <%- include('../../fragments/footer.ejs') %>