<%- include('../../fragments/header.ejs') %>

        <main>
           <table class="table-list">
            <thead>
                <tr>
                    <th>Auto</th>
                    <th>Mechanik</th>
                    <th>Opis naprawy</th>
                    <th>Data naprawy</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tr>
                <td>Audi RS8</td>
                <td>Sobotka</td>
                <td>Uszczelka pod głowicą, wymiana opon</td>
                <td>20.06.2022r</td>
                <td class="list-actions">
                <ul>
                    <li><a href="/repairments/add-description" class="list-actions-button-details">Dodaj Opis</a></li>
                    <li ><a href=""class="list-actions-button-delete">Usuń naprawę</a></li>
                    <li><a href="/repairments/add-description" class="list-actions-button-edit">Edytuj Naprawę</a></li>
                </ul></td>
            </tr>
           </table>
           <p><a href="/repairments/add-repairment" class="button-add">Dodaj nową naprawę</a></p>
        </main>
        <%- include('../../fragments/footer.ejs') %>